body{
  background-image:url(https://eige.europa.eu/sites/default/files/images/education.jpg);
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#header{
  color: white;
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 2px 2px #333333;
}

.active{
  background-color: white;
  color: black;
}
ul {
  list-style-type: none;
  margin: -10px;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  text-align: center;
}

li {
  float: left;
  text-align: right;

}

li a {
  display: block;
  color: white;
  text-align: center;
  letter-spacing: 7px;
  padding: 14px 25px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
